.edit-jog {
    .edit-jog__wrapper {
        display: flex;
        justify-content: center;
        padding-top: 118px;
    }
}

@media (max-width: 767px) {
    .edit-jog {
        .edit-jog__wrapper {
            padding: 25% 25pt;
        }
    }
}