.jog-form {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 503px;
    height: 379px;
    border-radius: 44px;
    background-color: #7ed321;

    position: relative;

    .jog-form__cancel {
        position: absolute;
        top: 27px;
        right: 27px;
        width: 27px;
        height: 27px;
        background: #fff;
        mask-image: url("../../img/cancel.svg");
        cursor: pointer;
        &:hover {
            opacity: 0.5;
        }
    }

    .jog-form__wrapper {
        display: flex;
        // justify-content: center;
        // align-items: center;
        flex-direction: column;
        width: 320px;

        .jog-form__fields {
            margin-bottom: 46px;
            .jog-form-field {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 25px;
                &:last-child {
                    margin-bottom: 0px;
                }

                .jog-form-field__label {
                    font-size: 16px;
                }

                .jog-form-field__input {
                    input {
                        border-radius: 7px;
                        border: solid 1px #979797;
                        background-color: #ffffff;
                        width: 236px;
                        height: 31px;
                    }
                }
            }
        }

        .jog-form__btn {
            width: 100%;
            height: 42px;
            border-radius: 25.2px;
        }
    }
}
