.login {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .login-wrapper {
        width: 503px;
        height: 379px;
        border-radius: 44px;
        background-color: #e990f9;

        .login__icon {
        }

        .login__btn {
        }
    }
}
