.login {
    display: flex;
    justify-content: center;
    margin-top: 118px;
    .login-wrapper {
        display: flex;
        flex-direction: column;
        // justify-content: space-around;
        align-items: center;

        width: 503px;
        height: 379px;
        border-radius: 44px;
        background-color: #e990f9;

        .login__icon {
            margin-top: 77px;
        }
        .login__icon-img {
            width: 160px;
            height: 150px;
            background: #fff;
            mask-image: url("../../img/svg/bear-face.svg");
        }

        .login__btn {
            margin-top: 56px;
        }
    }
}

@media (max-width: 767px) {
    .login {
        margin: 0;
        padding: 25% 0;
        .login-wrapper {
            width: 100%;
            height: 100%;
            background-color: #fff;

            .login__icon {
                margin-top: 0px;
            }
            .login__icon-img {
                background: #e990f9;
                mask-image: url("../../img/svg/bear-face.svg");
            }

            .login__btn {
                button {
                    color: #e990f9;
                    border-radius: 36px;
                    border: solid 3px #e990f9;
                }
            }
        }
    }
}
