@font-face {
  font-family: "SFUIText";
  font-style: normal;
  src: local("SFUIText"), local("SFUIText"), url("./fonts/SFUIText.ttf") format("truetype");
}

html {
  box-sizing: border-box;
  font-family: "SFUIText";
  margin: 0px;
}

// #root {
//   height: 100vh;
// }

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  max-width: 1060px;
  margin: 0 auto;
}

.content {
  margin-top: 116px;
}

.btn {
  width: 151px;
  height: 60px;
  border-radius: 36px;
  border: solid 3px #ffffff;
  color: #fff;
  font-size: 18px;
  font-family: "SFUIText";
  background-color: inherit;
  cursor: pointer;

  &:active,
  &:focus {
    outline: none;
  }

  // &:hover {
  //   border-color: #000;
  // }
}
