@font-face {
  font-family: "SFUIText";
  font-style: normal;
  src: local("SFUIText"), local("SFUIText"), url("./fonts/SFUIText.ttf") format("truetype");
}

html {
  box-sizing: border-box;
  font-family: "SFUIText";
  margin: 0px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit
  &:hover {
    border: 0;
    
  }
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  max-width: 1060px;
  margin: 0 auto;
}

.content-wrapper {
  padding-top: 116px;
} 

@media (max-width: 767px) {
  .content-wrapper {
    padding-top: 56px;
  } 
}

.btn {
  width: 151px;
  height: 60px;
  border-radius: 36px;
  border: solid 3px #ffffff;
  color: #fff;
  font-size: 18px;
  font-family: "SFUIText";
  background-color: inherit;
  cursor: pointer;

  &:active,
  &:focus {
    outline: none;
  }

  // &:hover {
  //   border-color: #000;
  // }
}

.input {
  padding: 10px;
}
