.header {
    /* для фиксации хедера вверху страницы */
    // position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    // width: 1440px;
    height: 116px;
    background-color: #7ed321;

    .header__wrapper {
        height: 100%;
        margin: 0px 30px 0px 37px;
        display: flex;
        flex-wrap: wrap; /* в целях безопасности, чтоб могли переноситься */
        align-items: center;
        justify-content: space-between;
        // padding-top: 56px;

        .header__logo {
            .header__logo-link {
                width: 147px;
                height: 56px;
                background: #fff;
                mask-image: url("../../img/logo.svg");
            }
        }

        .header__list {
            display: flex;
            flex-wrap: wrap;
        }

        .header__item {
            margin-right: 45px;

            &:last-child {
                margin-right: 0px;
            }
        }

        .header__link {
            // font-family: 'SFUIText';
            font-size: 14px;
            font-weight: bold;
            color: #ffffff;
            text-decoration: none;
            text-transform: uppercase;

            &:hover,
            &:focus,
            &:active {
                opacity: 0.75;
            }
        }
    }
}
