.jogs {
    margin-top: 116px;
    padding-top: 113px;
    .jogs__filter {
        display: flex;
        justify-content: center;
        position: fixed;
        top: 116px;
        left: 0;
        width: 100%;
        background-color: #eaeaea;
        height: 60px;
        color: #979797;

        .jogs__filter-item {
            display: flex;
            align-items: center;
            margin-right: 45px;

            &:last-child {
                margin-right: 0;
            }

            .jogs__filter-label {
                margin-right: 15px;
                font-size: 13px;
            }

            .jogs__filter-input {
                .input {
                    width: 100px;
                    height: 31px;
                    border-radius: 11px;
                    border: solid 1px #979797;
                    background-color: #ffffff;
                }
            }
        }
    }

    .jogs__list {
        .jogs-item {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: "icon info";
            gap: 46px;
            margin-bottom: 78.3px;

            .jogs-item__icon {
                grid-area: "icon";
                justify-self: end;
                width: 87px;
                height: 87px;
            }

            .jogs-item__info {
                grid-area: "info";
                display: flex;
                flex-direction: column;

                .jogs-item__date {
                    margin-bottom: 9px;
                    font-size: 14px;
                    color: #979797;
                }
                .jogs-item__params {
                    display: flex;
                    margin-bottom: 12px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    .jogs-item__param-label {
                        margin-right: 4px;
                        font-size: 14px;
                        font-weight: 500;
                    }

                    .jogs-item__param-value {
                        color: #6c6c6c;
                        font-size: 14px;
                        font-weight: 500;
                    }
                }
            }
        }
    }

    .jogs__add {
        position: fixed;
        bottom: 40px;
        right: 40px;
        width: 60px;
        height: 60px;
        background: #7ed321;
        mask-image: url("../../img/add.svg");
    }
}
